.app {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 2fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
 
}


main {
  grid-area: main;
}

footer {
  grid-area: footer;
  justify-content: center;
  align-items: flex-end;
  
}